<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favi.ico">
  <link rel="stylesheet" href="../css/index.css" />
  <title>Todo app</title>

</head>

<body>
  <div class="container">
    <header>
      <img id="dp" src="../images/dp.png" alt="">
      <h1 class="heading">TASKER</h1>
    </header>
    <hr>

    <section class="home-section">
      <li>A Todo App to manage your todos !</li>
      <li>All the data will be saved to database so choose a unique username for yourself.</li>
      <li>You can come anytime to access your previous data!</li>
    </section>
    <hr>
    <section class="enter">
      <form class="" action="/" method="post">
        <input type="text" name="username" value="" placeholder="Enter username" autocomplete="off">
        <button type="submit" name="button">Start</button>
      </form>
    </section>
    <hr>
    <section class="home-section">
      <li>Avoid adding same name todos.</li>
      <li>Made with node js and mongoDB.</li>
      <li>Currently designed according to desktop view.</li>
      <li>Give a star in github if you like it !</li>
      <li>For any bug and query contact.</li>
    </section>
    <hr>
    <footer>
      Links:
      <a href="https://github.com/Shubhamrawat5/Tasker">Tasker ,</a>
      <a href="https://github.com/Shubhamrawat5">Github</a>
    </footer>
</body>

</html>
